{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "css",
    "vueIndentScriptAndStyle": true,
    "jsxBracketSameLine": false,
    "plugins": [
        "prettier-plugin-antlers",
        "prettier-plugin-blade",
        "prettier-plugin-tailwindcss"
    ],
    "printWidth": 160,
    "overrides": [
        {
            "files": "*.antlers.html",
            "options": {
                "printWidth": 160,
                "parser": "antlers",
                "singleQuote": false
            }
        },
        {
            "files": "*.blade.php",
            "options": {
                "printWidth": 240,
                "parser": "blade",
                "singleQuote": false
            }
        },
        {
            "files": [
                "**/*.css",
                "**/*.html"
            ],
            "options": {
                "printWidth": 160,
                "singleQuote": false
            }
        }
    ]
}
